.CategoryBar {
  @include display-flex;
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include  align-items(center);
  @include justify-content(center);
  width: 100%;
  background-color: white;
  font-size: 16px;
  min-height: 60px;
  &-item {
    @include display-flex;
    @include  align-items(center);
    @include justify-content(space-around);
    height: 40px;
    width: 21%;
    margin: 0 5px;
    color: $primary-text-color;
    text-align: center;
    cursor: pointer;

  }

}
