@import "compass";

.DropMenu{
	@include transition(opacity 500ms ease-in-out, visibility 500ms ease-in-out);
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 0 11px 5px #d0d0d04d;
	color: $primary-text-color;
	font-style: normal;
	list-style: none;
	left: -10px;
	top: 0px;
	margin: 0px;
	min-width: 180px;
	// max-width: 200px;
	width: 100%;
	padding: 15px 20px;
	position: absolute;
	transform: translateY(50px);
	opacity: 0;
	visibility: hidden;
	z-index: 100;
	&--isShown{
		opacity: 1;
		visibility: visible;
	}
	&-divider{
		border-top: 1px solid #7d97ad;
		height: 1px;
		margin: 5px 0;
	}
	&-item{
		@include user-select(none);
		margin-top: 0;
		padding: 6px 8px;
		text-align: center;
		text-decoration: none;
		border-radius: 2px;
		color: inherit;
		display: block;
		// margin: 0 -8px;
		&:hover{
			background: tint($primary-color,65%);
		}
		a{
			border-radius: 2px;
			color: inherit;
			display: block;
			margin: 0 -8px;
			padding: 6px 8px;
			text-decoration: none;
			&:hover{
				background: tint($primary-text-color,75%);
			}
		}
	}
}