@import "compass";

@font-face {
  font-family: 'Swessra-light';
  src: url('../fonts/swessra-light.OTF') format('opentype')	;
}
@font-face {
  font-family: 'Swessra-medium';
  src: url('../fonts/swessra-medium.OTF') format('opentype');
}
@font-face {
  font-family: 'OpenSans-Regular';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSans-ExtraBold';
  src: url('../fonts/OpenSans-ExtraBold.ttf') format('truetype'); 
}